@{
    ViewData["Title"] = "iBank | We're Sorry...";
    Layout = "_Layout";
}

<div class="alert alert-warning">
    <p class="mb-0">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        You must <a href="/login" title="Log In">log in</a> in to view this page.
    </p>
</div>