@{
    ViewData["Title"] = "iBank | We're Sorry...";
    Layout = "_Layout";
}

<div class="alert alert-warning">
    <p class="mb-0">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        You must be <a href="/login" title="Log In">logged in</a> to perform that action.
    </p>
</div>
