@using BankLedger.Models
@model UserAccount

@{
    ViewData["Title"] = "iBank | Logout";
    Layout = "_Layout";
}

<div class="alert alert-success">
    <p class="mb-0">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        You have been logged out.
    </p>
</div>