<div class="alert alert-success alert-update-balance">
    <p class="mb-0">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        You <span id="alert-balance-type"></span> $<span id="alert-balance-amount"></span> into your account.
    </p>
</div>