<div class="alert-box">
    <div class="alert alert-success alert-update-balance">
        <p class="mb-0">
            <i class="fa fa-info-circle" aria-hidden="true"></i> 
            <span id="alert-update-balance-msg"></span>
        </p>
    </div>
    <div class="alert alert-warning alert-errors">
        <p class="mb-0">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
            Invalid amount entered. Please try again.
        </p>
    </div>
</div>