<div class="alert alert-success alert-update-balance">
    <p class="mb-0">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        <span id="alert-deposit-msg">You deposited $<span class="alert-balance-amount"></span> into your account.</span>
        <span id="alert-withdraw-msg">You withdrew $<span class="alert-balance-amount"></span> from your account.</span>
    </p>
</div>