@using BankLedger.Models
@model UserAccount

@{
  Layout = "_Layout";
}

<div class="container">
	<div class="logo-box">
		<img src="img/ibank-logo.png" alt="iBank logo">
		@if (UserAccount.SignedIn == null)
		{
			<div class="cta-box flex">
				<div class="cta">
					<a href="/signup" class="btn btn-lg btn-success btn-cta">Sign Up</a>
				</div>
				<div class="cta">
					<a href="/login" class="btn btn-lg btn-success btn-cta">Login</a>
				</div>
			</div>
		}
		else
		{
			<div class="cta-box">
				<div class="cta">
					<a href="/account" class="btn btn-lg btn-success btn-cta">My Account</a>
				</div>
			</div>
		}
	</div>
</div>
